# SSH keys
*.pem
*.pub
.aws/ec2-keys/
*Administrator_accessKeys*
*credentials*


# Lixos e Coisas específicas do Terraform para um projeto
.terraform/
.terraform.lock.hcl
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backup