
# Esse é um arquivo de configuração do Kubernetes que define um Deployment para um aplicativo web simples usando a imagem do Nginx.
# ele define um Deployment chamado "web" com 2 réplicas, cada uma executando um contêiner Nginx que escuta na porta 80.
# é útil para implantar um servidor web básico em um cluster Kubernetes.
# 'image:nginx' fará ele puxar a imagem oficial do Nginx do Docker Hub → docker.io/library/nginx:latest

apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: nginx
        ports:
        - containerPort: 80