apiVersion: apps/v1

kind: MachineDeployment

metadata:
  name: example-machine-deployment
  namespace: default

spec:
  replicas: 3
  selector:
    matchLabels:
      app: example-app
  
  template: 
    metadata:
      labels:
        app: example-app
    
    spec:
      providerSpec:
        value:
          apiVersion: awsprovider.k8s.io/v1alpha1
          kind: AWSMachineProviderSpec
          instanceType: t3.medium
          ami: ami-0abcdef1234567890
          iamInstanceProfile: example-instance-profile
          tags:
            - key: Name
              value: example-machine
          subnet:
            id: subnet-0abcdef1234567890
          securityGroups:
            - name: example-security-group
      
      sSpec:
        linux:
          os: ubuntu
          version: 20.04
      
      terminationGracePeriodSeconds: 30